{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h1>Acerca de Nosotros</h1>
    <p>Somos una empresa que se preocupa por los animales y la Tecnología. 
        Es por esto que cuidamos a quienes más amas y proteges por medio de inovación 
        y cuidado para tu mascota. </p>
        <aside>
            <img src="https://blog.soltekonline.com/content/images/2019/09/00-5.jpg" width="400" height="280">
        </aside>
</div>
<footer>
    <p>&copy; 2024 CANTECH</p>
</footer>
{%endblock%}