{%extends "layout.html"%}
{%block content%}
<div class="FAQ">
    <h1>¿Tienes Alguna Pregunta?</h1>
    <p>Estas son algunas preguntas frecuentes</p>
    <ul>
        <li>¿La bicicleta Incluye seguro?</li>
        <p>No, no la incluye</p>
        <li>¿Si mi perro comienza a hablarme a traves de la correa deberia preocuparme?</li>
        <p>Corre lo mas rapido posible</p>
        <li>¿Puedo usar el comedero para alimentar a mis hijos si no estoy en casa?</li>
        <p>No deberias</p>
    </ul>
</div>
<footer>
    <p>&copy; 2024 CANTECH</p>
</footer>
{%endblock%}