<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Bienvenidos Nosotros Somos CanTech</h1>
            <strong>
                <nav>
                    <u1 class="menu">
                        <li><a href="{{url_for('home')}}">Inicio</a></li>
                        <li><a href="{{url_for('about')}}">Acerca de Nosotros</a></li>
                        <li><a href="{{url_for('contact')}}">Contactate con Nosotros</a></li>
                        <li><a href="{{url_for('service')}}">Productos y Servicios</a></li>
                        <li><a href="{{url_for('FAQ')}}">Preguntas Frecuentes</a></li>
                    </u1>
                </nav>
            </strong>
        </div>
    </header>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
</body>
</html>