{%extends "layout.html"%}
{%block content%}
<div class="service">
    <h1>Estos son nuestros productos y servicios</h1>
    <ul>
        <li>P-CAN 1</li>
        <p>Esta Correa es lo ultimo en tecnología canina, Con esta correa 
            Inteligente podras monitoriar la salud de tu mascota asi como 
            tambien podras saber su ubicacion exacta en todo momento. 
            Comprala YA!!!1</p>
            <aside>
                <img src="https://vanguardia.com.mx/binrepository/1152x648/0c0/0d0/down-right/11604/HWJR/collar-inteligente-invoxia-ces_1-932528_20220107195729.png" width="400" height="280">
            </aside>
        <li>Comedero Automatico</li>
        <p>Con este nuevo comedero automatico ya no tendras que preocuparte por darle de comer a tu mascota. Simplemente programalo y el comedero hara su trabajo. ¿Facil verdad?</p>
        <img src="https://m.media-amazon.com/images/I/41HPjuL4VCL._SL500_.jpg" width="400" height="280">
        <li>Bicicleta para Perros</li>
        <p>Con esta nueva bicicleta Ya no tendras que preocuparte por sacar a pasear a tu mascota. Solo instala esta bicicleta en tu departamento o casa y veras como las mascotas se ponen en forma</p>
        <img src="https://www.univision.com/proxy/api/cached/picture?href=https%3A%2F%2Fst1.uvnimg.com%2Fc1%2F5c%2F7526b97e463c9d3b051dbdb22199%2Fgfzum-trb150612-01.JPG&width=4928&height=3264&ratio_width=414&ratio_height=550&resize_option=Only%20Shrink%20Larger" width="400" height="280">
    </ul>
</div>
<footer>
    <p>&copy; 2024 CANTECH</p>
</footer>
{%endblock%}